RewriteEngine On

# HTML extension সরিয়ে ফেলা (URL থেকে)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# ইউজার যখন pagename.html টাইপ করে, তখন pagename দেখানো
RewriteCond %{THE_REQUEST} \s/+(.+?)\.html[\s?]
RewriteRule ^ /%1 [R=302,L,NE]